[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rdflib = "*"
pandas = "*"
python_dotenv = "*"
boto3 = "*"
botocore = "*"

[dev-packages]
pytest = "*"
coverage = "*"

[requires]
python_version = "3"
